{% extends 'accounts/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/accounts.css' %}"><link rel="stylesheet" type="text/css" href="{% static 'survey/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/reset.css' %}">
{% endblock %}


{% block body_block %}

  <div id="login-box" class="box">
    <h2>Reset Password</h2>
    <form method="POST" action="" id="reset_form" >
      {% csrf_token %}
      <div class="user-box">
        {{form.email}}
        <label for="email">Email</label>
      </div>
      
    
      <a href="#" onclick= "document.getElementById('reset_form').submit()" id="login-submit-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Reset
      </a>
    </form>

  </div>

  {% endblock %}